.popupWindow {
    position: fixed;
    bottom: 3em;
    left: 3em;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: max-content;
    height: max-content;

    &-header {
        &-fail {
            background-color: #F05656;
            padding: 2em;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            width: 500px;
            color: white;
        }

        &-success {
            background-color: #1861CA;
            padding: 2em;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            width: 500px;
            color: white;
        }
    }

    &-action {
        display: flex;
        flex-direction: column;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: white;
        padding: 1em;

        &-btn {
            align-self: flex-end;
        }

    }

    &-mainTitle {
        color: white;
        text-align: center;
        text-transform: uppercase;
    }

    &-title {
        text-align: center;
    }
}

.hidden {
    display: none;
}


@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 1366px) and (min-width: 768px) {}

@media only screen and (max-width: 1024px) and (min-width: 768px) {}

@media only screen and (max-width: 767px) {
    .popupWindow {
        bottom: 0em;
        left: 3em;
        width: 300px;
        height: 400px;
        margin: 0 auto;

        &-header {
            &-success {
                width: 300px;
                font-size: 1.1em;
            }
            &-fail {
                width: 300px;
                font-size: 1.1em;
            }
        }

        &-action {

        }
    }
}
