.account {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-self: center;

    &-btn {
        width: 100px;
        align-self: center;
        margin-bottom: 1em;
    }

    &-block {
        display: flex;
        flex-direction: column;

        &:nth-child(2) {
            width: 60%;
            text-align: center;
        }
    }

    &-menu {

        display: flex;
        flex-direction: column;
        height: max-content;
        margin-top: 2em;

        &-iconContainer {
            border-right: 1px solid grey;
            padding: .5em 0;
            transition: .3s;
            margin-right: 1em;
        }

        &-arrow {
            position: absolute;
            right: 0;
            transition: .3s;
        }

        &-icons {
            transition: .3s;
        }

        &--item {
            background-color: #fff;
            color: #747474;
            width: 100%;
            margin-top: .2em;
            margin-bottom: .2em;
            padding: 1em .3em;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            transition: .3s;

            &-text {
                transition: .2s;
            }

            &:hover {
                .account-menu-arrow {
                    right: -.5em;
                    transition: .3s;
                    color: black;
                }

                .account-menu-icons {
                    color: black;
                    transition: .3s;
                }

                .account-menu--item-text {
                    color: black;
                    font-weight: bold;
                }
            }
        }

    }

    &-avatar {
        height: 320px;
        width: 320px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 1em;
        position: relative;
        border-radius: 2px;

        &-edit {
            height: 60px;
            width: 60px;
            position: absolute;
            right: 5em;
            top: 10em;
            padding: .5em;
            border-radius: 50%;
            background-color: #2785ff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            transition: .3s;

            &:hover {
                box-shadow: 0 0 10px black;
                transition: .3s;
                background-color: #0364e4;
            }
        }

        &-icon {
            text-align: center;
            align-self: center;
            justify-self: center;
            position: relative;
            left: .09em;
        }

        &-img {
            border-radius: 50%;
            width: 180px;
            height: 180;
            align-self: center;
            margin-top: 1em;
        }

        &-title {
            color: black;
            font-size: 1.5em;
            text-align: center;
        }
    }
}

.icon-selected {
    color: black;
    transition: .2s;
}

.arrow-selected {
    color: black;
    right: -.5em;
    transition: .2s;
}

.text-selected {
    color: black;
    transition: .2s;
    font-weight: bold;
}
