.account {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-self: center;

    &-btn {
        width: 100px;
        align-self: center;
        margin-bottom: 1em;
    }

    &-block {
        display: flex;
        flex-direction: column;

        &:nth-child(2) {
            width: 60%;
            text-align: center;
            background-color: white;
        }
    }

    &-menu {

        display: flex;
        flex-direction: column;
        height: max-content;
        margin-top: 2em;

        &-iconContainer {
            border-right: 1px solid grey;
            padding: .5em 0;
            transition: .3s;
            margin-right: 1em;
        }

        &-arrow {
            position: absolute;
            right: 0;
            transition: .3s;
        }

        &-icons {
            transition: .3s;
        }

        &--item {
            background-color: #fff;
            color: #747474;
            width: 100%;
            margin-top: .2em;
            margin-bottom: .2em;
            padding: 1em .3em;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;
            transition: .3s;

            &-text {
                transition: .2s;
            }

            &:hover {
                .account-menu-arrow {
                    right: -.5em;
                    transition: .3s;
                    color: black;
                }

                .account-menu-icons {
                    color: black;
                    transition: .3s;
                }

                .account-menu--item-text {
                    color: black;
                    font-weight: bold;
                }
            }
        }

    }

    &-avatar {
        height: 320px;
        width: 320px;
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 1em;
        position: relative;
        border-radius: 2px;

        &-edit {
            color: white;
            height: 60px;
            width: 60px;
            position: absolute;
            right: 5em;
            top: 10em;
            padding: .5em;
            border-radius: 50%;
            background-color: #2785ff;
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: pointer;
            transition: .3s;

            &:hover {
                box-shadow: 0 0 10px black;
                transition: .3s;
                background-color: #0364e4;
            }
        }

        &-icon {
            text-align: center;
            align-self: center;
            justify-self: center;
            position: relative;
            left: .09em;
        }

        &-img {
            border-radius: 50%;
            width: 180px;
            height: 180;
            align-self: center;
            margin-top: 1em;
        }

        &-title {
            color: black;
            font-size: 1.5em;
            text-align: center;
        }
    }
}

.icon-selected {
    color: black;
    transition: .2s;
}

.arrow-selected {
    color: black;
    right: -.5em;
    transition: .2s;
}

.text-selected {
    color: black;
    transition: .2s;
    font-weight: bold;
}

.accountData {
    display: flex;
    flex-direction: column;
    padding: 2em;

    &-title {
        color: black;
        text-transform: uppercase;
    }

    &-label {
        width: max-content;
        font-size: 1.5em !important;
        padding-left: 1em;
    }

    &-form {
        width: 80%;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: 2em 2em 0 2em;
        padding-bottom: 2em;

        &-btn {
            width: 20%;
            align-self: flex-end;
            margin-top: 1em !important;
            color: white !important;
        }
    }

    &-input-group {
        width: 40%;
        align-self: center;
    }

    &-confirm {
        display: flex;
        flex-direction: column;
    }
}

.avatar-input {
    display: none;

    &-container {
        width: 30%;
        position: relative;
    }
}

.file-label {
    padding: 1em .5em;
    border-radius: 5px;
    margin: 2em;
    display: flex;
    position: relative;
    background: #2785ff;
    color: white !important;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: #0364e4;
        font-weight: bold !important;
        transition: .3s
    }
}

.input-avatar-icon {
    position: absolute;
    color: white !important;
    left: 1em;
    top: .6em;
    z-index: 100;
}

.input-avatar-iconRight {
    position: absolute;
    color: white !important;
    right: .5em;
    top: .6em;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.actions {
    display: flex;
    align-items: flex-end !important;
    justify-content: space-around;

    .ui.button {
        width: 200px !important;
        margin: .5em 0;
    }
}

.content {
    align-self: center;
    text-align: center;
    font-size: 1.3em !important;
}

.steam {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-btn {
        cursor: pointer;
        transition: .2s;
        border-radius: 7px;

        &:hover {
            box-shadow: 0 0 4px black;
            transition: .2s;
        }
    }

    &-title {
        color: black;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;

        &-desc {
            position: absolute;
            top: 12em;
            left: 0;
        }
    }

    &-icon {
        align-self: center;
    }

    &-header {
        position: relative;
        width: max-content;
        align-self: center;
        margin-bottom: 2em;
    }
}

.success-message {
    color: green;
}

.passchange,
.emailchange,
.delete,
.myarticles,
.privacy {
    display: flex;
    flex-direction: column;

    &-desc {
        align-self: flex-start;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 30%;
        margin-top: 3em !important;

        &-btn {
            margin-top: 2em !important;
        }
    }

    &-input {
        align-self: center;
        width: 100%;
    }

    &-header {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
    }

    &-icon {
        align-self: center;
    }

    &-label {
        text-align: left;
        margin-top: 3em;
    }

    &-inputgroup {
        margin-top: 2em !important;
        display: flex;
        flex-direction: column;
    }

    &-deletebtn {
        width: max-content;
        align-self: center;
        margin-top: 10em !important;
    }
}

.privacy {
    a {
        color: #15c0ec;

        &:hover {
            text-decoration: underline;
            color: #15c0ec;
        }
    }

    text-align: left;
    position: relative;
    height: 100%;

    &-email {
        margin-left: 5em;
        font-size: 1.3em;
        font-weight: normal;
    }

    &-newsletter {
        margin-top: 1em;
        position: absolute;
        bottom: 2em;
        align-self: center;
    }

    &-steamdata {
        display: flex;
        flex-direction: column;

        &-title {
            text-align: center;
            margin-bottom: 5em;
        }

        &-profileurl {
            margin-left: 1em;
        }
    }

    &-data {
        display: flex;
        flex-direction: column;

        &-header {
            align-self: center;
            border-bottom: 1px solid grey;
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-bottom: 2em;
            margin-top: 2em;
            margin-bottom: 2em;
        }
    }

    &-checkbox {
        align-self: center;
        margin-left: 5em;
    }

    &-datagroup {
        display: flex;
        margin-left: 5em;

        &-title {
            margin: 0;
            margin-left: 1em;
        }

        &-profileurl {
            margin-left: 11em;
            display: flex;
            align-items: center;
        }
    }

    &-title {
        text-align: center !important;
    }

    &-avatar {
        border-radius: 50%;
        text-align: center !important;
        align-self: center;

        &-title {
            margin-left: 5em;
        }
    }
}

.errors {
    color: red;
}

.edit-avatar {
    display: none;
}

.account-editLabel {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 1366px) and (min-width: 768px) {}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .account {
        flex-direction: column;

        &-block {
            &:nth-child(2) {
                text-align: center;
                background-color: white;
                align-self: center;
                margin: 2em 0;
                width: 100%;
            }

            &:nth-child(1) {
                align-self: center;
                display: flex;
                flex-direction: column;
            }
        }

    }

    .accountData {
        padding: 1em;

        &-form {
            width: 100%;

            &-btn {
                width: 100px;
                align-self: center;
            }
        }

        &-label {
            padding: 0;
            font-size: .9em !important;
        }
    }

    .privacy {
        &-datagroup {
            display: flex;
            margin-left: 0em;

            &-title {
                margin: 0;
                margin-left: .5em;
            }

            &-profileurl {
                margin-left: .5em;
                display: flex;
                align-items: center;
            }

            &-profileurl {
                align-self: center;
            }
        }

        &-steamdata {
            &-title {
                margin-bottom: 2em;
            }
        }

        &-newsletter {
            position: relative;
            bottom: 0;
            margin-top: 2em;
            align-self: center;
        }
    }

    .passchange,
    .emailchange,
    .delete,
    .myarticles,
    .privacy {

        &-form {
            display: flex;
            flex-direction: column;
            align-self: center;
            margin-top: 2em !important;
            width: 80%;
            padding-bottom: 1em;

            &-btn {
                margin-top: 1em !important;
            }
        }
        &-deletebtn {
            margin: 2em 0 !important;
            margin-top: 1em !important;
        }
    }
}

@media only screen and (max-width: 767px) {
    .account {
        flex-direction: column;

        &-block {
            &:nth-child(2) {
                text-align: center;
                background-color: white;
                align-self: center;
                margin: 2em 0;
                width: 100%;
            }

            &:nth-child(1) {
                align-self: center;
                display: flex;
                flex-direction: column;
            }
        }

    }

    .accountData {
        padding: 1em;

        &-form {
            width: 100%;

            &-btn {
                width: 100px;
                align-self: center;
            }
        }

        &-label {
            padding: 0;
            font-size: .9em !important;
        }
    }

    .privacy {
        &-datagroup {
            display: flex;
            margin-left: 0em;

            &-title {
                margin: 0;
                margin-left: .5em;
            }

            &-profileurl {
                margin-left: .5em;
                display: flex;
                align-items: center;
            }

            &-profileurl {
                align-self: center;
            }
        }

        &-steamdata {
            &-title {
                margin-bottom: 2em;
            }
        }

        &-newsletter {
            position: relative;
            bottom: 0;
            margin-top: 2em;
            align-self: center;
        }
    }

    .passchange,
    .emailchange,
    .delete,
    .myarticles,
    .privacy {

        &-form {
            display: flex;
            flex-direction: column;
            align-self: center;
            margin-top: 2em !important;
            width: 80%;
            padding-bottom: 1em;

            &-btn {
                margin-top: 1em !important;
            }
        }
        &-deletebtn {
            margin: 2em 0 !important;
            margin-top: 1em !important;
        }
    }
}
