.games {
    display: flex;
    flex-direction: column;

    &-sort {
        margin-top: 10em;
        width: 80%;
        align-self: center;
        display: flex;
        position: relative;
        justify-content: space-between;

        &-input {
            width: 400px !important;

        }

        &-btn {
            margin-right: 1.3em !important;

        }

        &-sortBtns {
            display: flex;
            align-self: center;

        }
    }

    &-steam {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-self: center;
        width: 82%;
        align-items: center;
        margin-top: 5em;
        max-height: 1000px;
        overflow: auto;

        &-game {
            position: relative;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            transition: .3s;

            &-img {
                transition: .3s;
                width: 460px;
                height: 215px;
            }

            &-link {
                margin: 1em 2em;
                position: relative;
                transition: .3s;
                height: max-content;
                width: max-content;

                &:hover {
                    img {
                        transform: scale(1.1);
                        transition: .3s;
                    }

                    h2 {
                        text-decoration: underline;
                    }

                    .games-nosteam-menu {
                        opacity: 1;
                        transition: .3s;
                    }

                }
            }

            &-title {
                position: absolute;
                bottom: 0;
                color: white;
                text-align: center;
                align-self: center;
                padding: 1em;
                backdrop-filter: blur(8px);
                width: 100%;
                background-color: rgba(0, 0, 0, .6);
            }
        }
    }

    &-header {
        display: flex;
        align-self: center;
        align-items: center;
        color: white;

        h1 {
            color: white;
            align-self: center;
            margin: 0;
            margin-left: 2em;
        }
    }
}

.carousel {
    &-container {
        position: relative;
        margin-top: 2em;
        width: 90%;
        align-self: center;
    }

    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
            img {
                transition: .3s;
                transform: scale(1.2);
            }
        }

        &-img {
            transition: .3s;

            &-container {
                overflow: hidden;
            }
        }

        &-title {
            color: white !important;
        }

        &-desc {
            color: white;
        }
    }

    &-title {
        position: absolute;
        top: 1em;
        left: 8.4em;
        color: white;
        z-index: 100;
        font-size: 2em;
        font-weight: bold;
    }
}

.slick-center {
    transform: scale(1.2) !important;
    transition: .5s;
}

.slick-active {
    transition: .5s;
}

.slick-slide {
    padding: 1em 6em
}

.slick-list {
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, .1);
    display: flex;
    flex-direction: column;
    padding-top: 6em !important;
    padding-bottom: 6em !important;
    position: relative;
}

.backtopBtn {
    width: 400px;
    align-self: center;
    margin-bottom: 2em !important;
}

.ui.floating.dropdown>.menu {
    flex-direction: column;
}


.ui.modal.transition.visible.active.games-modal {
    display: flex;
    flex-direction: column;
    height: 60%;

    .ui.header {
        height: 100px !important;
    }

    .ui.content {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

}

.games-modal-inputgroup {
    width: 60% !important;
    align-self: center;
}

.games-modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-modal-form-label {
    align-self: flex-start !important;
    text-align: left;
}

.games-nosteam-menu {
    opacity: 0;
    position: absolute;
    top: 1.355em;
    left: 0;
    z-index: 10000;
    width: max-content;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .2);
    color: white;
    padding: 1em;

    &-icons {
        cursor: pointer;
        color: white;

        &:hover {
            color: #1678C2;
        }
    }
}

.show {
    display: inline;
}

.hide {
    display: inline;
}


.updategame.ui.modal.transition.visible.active {
    display: flex !important;
    flex-direction: column !important;

    .header {
        height: 70px;
    }
}

.updategame {
    &-input {
        width: 50%;
        margin: 2em auto;
    }
}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 1366px) and (min-width: 768px) {}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .games {
        &-sort {
            flex-direction: column;

            &-sortBtns {
                flex-direction: column;
            }

            &-sortBtn {
                margin: .5em 0 !important;

            }
            &-input {
                align-self: center;
            }
        }
        &-steam {
            align-items: center;
            &-game {
                &-img {
                    object-fit: contain;
                }
                &-link {
                    align-self: center;
                    margin: 1em auto;
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) and (min-width: 360px) {
    .games {
        &-sort {
            flex-direction: column;

            &-sortBtns {
                flex-direction: column;
            }

            &-sortBtn {
                margin: .5em 0 !important;

            }
            &-input {
                align-self: center;
            }
        }
        &-steam {
            align-items: center;
            &-game {
                &-img {
                    width: 300px;
                    object-fit: contain;
                }
                &-link {
                    align-self: center;
                    margin: 0 auto;
                }
            }
        }
    }
}
