.chatroom {
    display: flex;
    background-color: white;
    width: 90%;
    align-self: center;
    margin-bottom: 2em;
    box-shadow: 0 0 10px grey;

    &-channels {
        width: 15%;
        position: relative;



        &-header {
            background-color: #7881AD;
            padding: 1em;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
            display: flex;
            flex-direction: column;
            align-items: center;

            .ui.icon.input {
                margin-top: .5em;
            }

            &-title {
                font-size: 1.5em;
                color: white !important;
            }
        }

        &-menu {
            margin-top: 3em;
            padding: 1em;

            h2 {
                margin-top: 1em;
            }
        }

        &-frstMenu {
            padding: 1em;
            display: flex;
            flex-direction: column;
            overflow: auto;

            li {
                width: 150px;
                list-style-type: none;
                font-size: 1.3em;
                text-decoration-color: #507DBC;
                margin: 1em 0;
                cursor: pointer;
                text-transform: uppercase;
                align-self: center;
                display: flex;
                align-items: center;

                .ui.fitted.checkbox {
                    margin-right: 1em;

                    &:nth-child(2) {
                        color: green;
                    }
                }

                &:hover {
                    font-weight: bold;
                    text-decoration: underline;
                    text-decoration-color: #507DBC;
                }
            }
        }

        &-disconnectBtn {
            padding: 1em;
            position: absolute;
            bottom: 1em;
            left: 1em;
            cursor: pointer;

            &:hover {
                span {
                    display: inline;
                }
            }

            span {
                display: none;
                position: absolute;
                background-color: #111;
                color: white;
                font-weight: bold;
                padding: .5em;
            }
        }
    }

    &-chat {
        width: 70%;

        &-container {
            padding: 1em;
            height: 600px;
            background-color: #DFE6ED;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
            display: flex;
            flex-direction: column;
            overflow: auto;
        }

        &-header {
            padding: 3em 0;
            background-color: #ECF1F6;
            display: flex;

            &-title {
                color: #333 !important;
                margin: 0 auto;
                text-transform: uppercase;
            }
        }

        &-textarea {
            display: flex;
            position: relative;
            width: 100%;
            padding: .5em;

            &-addfile {
                width: 100px;
                background-color: #507DBC !important;

                &:hover {
                    background-color: #5063CE !important;
                }

                .paperclip.big.icon {
                    color: white !important;
                }
            }

            &-menu {
                display: none !important;
                position: absolute;
                bottom: 5em;

                &__item {
                    cursor: pointer;

                    &:hover {
                        background-color: #DFE6ED !important;
                    }
                }
            }

            .ui.form {
                width: 80%;
                display: flex;
                align-items: center;

                .ui.primary.button {
                    height: 50px;
                    width: 200px;
                    margin-left: 1em;
                }
            }

            &-openemoji {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                right: 5em;
                top: 1.5em;
                cursor: pointer;
                height: 30px;
                width: 30px;
                border-radius: 50%;

                &:hover {
                    box-shadow: 0 0 5px grey;
                }
            }

            &-picker {
                display: none;
            }
        }
    }

    &-users {
        width: 15%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        &-header {
            margin: 0 auto;
            background-color: #7881AD;
            width: 100%;
            padding: 1.3em 0;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;

            h2 {
                text-align: center;
                color: white !important;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &-user {
            width: 100%;
            padding: 1em;
            display: flex;
            align-items: center;
            position: relative;
            cursor: pointer;

            &:hover {
                h2 {
                    text-decoration: underline;
                }
            }

            &-avatar {
                width: 40px;
                height: 40px;
                object-fit: contain;
                border-radius: 50%;
            }

            &-username {
                font-size: 1.4em;
                margin: 0 0 1em 2em;
            }

            &-online {
                position: absolute;
                left: 3em;
                bottom: 1em;
                width: 15px;
                height: 15px;
                background-color: #00CE5C;
                border-radius: 50%;
            }
        }
    }
}

.message {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    align-self: flex-end;
    max-width: 50%;

    &-steamgame {
        position: relative;
        background-color: #7881AD;
        padding: 1.5em;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin: 2em 0;


        &-date {
            color: white;
            align-self: flex-end;
            font-weight: bold;
        }

        &-game {
            position: relative;
            width: max-content;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                img {
                    transform: scale(1.1);
                    transition: .3s;
                }

                h2 {
                    text-decoration: underline;

                }
            }
        }

        img {
            object-fit: contain;
            transition: .3s;
            border-radius: 5px;
        }

        h2 {
            position: absolute;
            bottom: 0;
            backdrop-filter: blur(4px);
            z-index: 100;
            width: 100%;
            padding: .7em;
            margin: 0;
            color: white;
            text-align: center;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;


        }


    }

    &-body {
        display: flex;
    }

    &-img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        border-radius: 50%;
    }

    &-text {
        padding: 2em 2em 1em 2em;
        background-color: #507DBC;
        border-radius: 10px;
        margin: 0 1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);
        color: white;
        font-weight: bold;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
    }

    &-date {
        margin-top: .5em;
        font-weight: normal;
        font-style: italic;
    }

    &-user {
        cursor: pointer;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
            color: #DFE6ED
        }
    }
}

.me {
    align-self: flex-start;

    p {
        background-color: #7881AD;
    }
}

.displayed {
    display: block;
}

.nomess {
    text-align: center;
    color: #555;
}

.menuVisible {
    display: flex !important;
    flex-direction: column;
}

.ui.modal.modal.chat-menu {
    display: flex !important;
    flex-direction: column !important;

    .header {
        height: 70px;
    }

    .content {
        height: 500px;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }
}

.chat-menu-games {
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5em 0;
    width: max-content;
    cursor: pointer;
    transition: .3s;

    &-content {
        overflow: hidden;
    }

    &:hover {
        img {
            transform: scale(1.2);
            transition: .3s
        }

        h2 {
            text-decoration: underline;
        }
    }

    img {
        object-fit: contain;
        transition: .3s
    }

    h2 {
        position: absolute;
        bottom: 0;
        backdrop-filter: blur(4px);
        width: 100%;
        z-index: 100;
        color: white;
        padding: .5em;
    }
}
