.visible.transition {
    display: flex !important;
}

.ui.modal>.image.content {
    flex-direction: column;
    display: flex;
    padding: 0;
}

.input-group {
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.labels {
    margin-left: 1em;
}

.back-link {
    color: white;

    &:hover {
        color: white;
    }
}

.ui.modal.transition.visible.active.modal {
    height: max-content !important;
}

.modal {

    height: max-content !important;

    &-right {
        padding: 1em !important;
        &-button {
            width: 100%;
            background: rgb(183, 233, 233) !important;
            background: linear-gradient(177deg, rgba(183, 233, 233, 1) 0%, rgba(21, 192, 236, 1) 100%) !important;
            color: white !important;
            margin-top: 1em !important;
            box-shadow: 0 0 25px grey !important;
            transition: .3s !important;

            &--back {
                width: 100%;
                background: rgb(233, 197, 183) !important;
                background: linear-gradient(177deg, rgba(233, 197, 183, 1) 0%, rgba(236, 21, 61, 1) 100%) !important;
                color: white !important;
                margin-top: 1em !important;
                box-shadow: 0 0 25px grey !important;
                transition: .3s !important;

                &:hover {
                    box-shadow: 0 0 20px grey !important;
                    transform: translate(0, 2px) !important;
                    transition: .3s !important;
                }

                &:active {
                    box-shadow: 0 0 10px grey !important;
                    transform: translate(0, 4px) !important;
                    transition: .3s !important;
                }

                &:focus {
                    box-shadow: 0 0 10px grey !important;
                    transform: translate(0, 4px) !important;
                }
            }

            &:hover {
                box-shadow: 0 0 20px grey !important;
                transform: translate(0, 2px) !important;
                transition: .3s !important;
            }

            &:active {
                box-shadow: 0 0 10px grey !important;
                transform: translate(0, 4px) !important;
                transition: .3s !important;
            }

            &:focus {
                box-shadow: 0 0 10px grey !important;
                transform: translate(0, 4px) !important;
            }
        }

        &-aside {
            display: flex;
            flex-direction: row;
            align-self: center;
            width: max-content;
            align-items: flex-end;
            margin: 0 !important;
            text-align: center;

            &__link {
                padding-left: .4em;
                color: #22dede;
                transition: .3s;

                &:hover {
                    text-decoration: underline;
                    color: #22dede;
                    transition: .3s;
                }
            }
        }

        &-logo {
            align-self: center;
            border-radius: 50%;
            width: 130px;
            height: 130px;
            margin-top: .5em;
        }

        &-title {
            color: #7d0f14;
            text-align: center;
            margin-top: .2em;
            text-transform: uppercase;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 0;
        }

        &-small {
            color: #8f8f8f;
            font-style: italic;
            text-align: center;
            margin-top: 0;
            font-size: 1.3em;
        }

        &-form {
            width: 70%;
            align-self: center;
            margin-top: 2em;
        }
    }

    &-left {

        &-img {
            height: 740px; // à modifier
            object-fit: cover;
            object-position: center;
        }

        &-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2em;
            position: absolute;
            color: white;
            align-self: center;
            margin-top: 2em;
        }

        &-text {
            color: white;
            font-size: 1em;
            position: absolute;
            margin-top: 1em;

            &:nth-child(4) {
                top: 14.75em;
                margin-left: 1.8em;
            }

            &:nth-child(5) {
                top: 16em;
                margin-left: 1.8em;
            }

            &:nth-child(3) {
                top: 13.5em;
                margin-left: 1.8em;
            }
        }
    }
}
